# Source files - we only ship the compiled dist + docs + example
node_modules/
nodes/
credentials/
scripts/
.eslintrc.cjs
.eslintrc.js
.gitignore
.npmignore
.prettierrc
tsconfig.json
tsconfig.tsbuildinfo
*.log
*.tgz

# Avoid shipping lockfile to consumers
package-lock.json

# Build/dev artifacts
.DS_Store
.vscode/
.idea/
